.close-right-block-button {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 23px;
  top: 23px;
  padding: 10px;
  @include media-breakpoint-down('xs') {
    right: 15px;
    top: 6px;
  }
}
