.ingredient {
  list-style: none;
  padding-left: 12px;
  position: relative;
  margin-left: 10px;
  text-transform: lowercase;
  &::before {
    position: absolute;
    top: 6px;
    left: 0;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $light-gray-color;
  }
  &:first-child {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
}
