.navigation {
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
  }
  &__item {
    list-style: none;
    color: $white-color;
  }
}
