.order-item {
  position: relative;
  padding: 15px;
  align-items: center;
  &:last-child {
    &::after {
      display: none;
    }
  }
  @include media-breakpoint-down('xs') {
    text-align: center;
  }
  span {
    font-family: WorkSansRegular, Helvetica, sans-serif;
    font-size: 0.6em;
  }
  &::after {
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    height: 1px;
    background: $light-gray-color;
    content: '';
    width: 50%;
  }
  &__date {
    font-family: Unkempt, Helvetica, sans-serif;
    font-size: 25px;
  }
  &__count-goods,
  &__amount {
    font-size: 24px;
    text-align: center;
  }
  &__amount {
    text-align: right;
    @include media-breakpoint-down('xs') {
      text-align: center;
    }
  }
}
