@font-face {
  font-family: 'VampiroOne';
  src: url('~assets/fonts/VampiroOne.ttf') format('truetype');
}
@font-face {
  font-family: 'WorkSansBold';
  src: url('~assets/fonts/WorkSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'WorkSansRegular';
  src: url('~assets/fonts/WorkSans-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Unkempt';
  src: url('~assets/fonts/unkempt.regular.ttf') format('truetype');
}
